        body {
            width: 80%;
            height: 100%;
            margin: auto;
            font-family: "Palatino Linotype", "Palatino", "Georgia";
        }
        h1 {
            font-size: 22px;
            font-weight: bold;
            font-style: normal;
            color: #929497;
            line-height: 27px;
            margin-top: 10px;
        }
        h2 {
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            color: #CEC498;
        }
        h3 {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            color: #98a2ce;
        }
        p {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            color: #111111;
        }
        p.first:first-letter
                {
            font-size:18;
            font-weight: bold;
            color: #CEC498;  
        }
        ul li {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            color: #111111;
        }
        pre.code {
            background-color: #F9F9F9;
            border: 1px solid #AAAAAA;
            padding: 2px;
            font-family: "Consolas";
        }
        p.code {
            background-color: #F9F9F9;
            border: 1px solid #AAAAAA;
            padding: 2px;
            font-family: "Consolas";
        }
        span.code, span.morphlex, span.morphgram {
            font-family: "Consolas";
	    font-style: normal;
	    font-size: 12px;
	    background-color: #F9F9F9;
	    padding-left: 2px;
	    padding-right: 2px;
        }
        span.code {
            border: 1px solid #AAAAAA;
        }
        span.morphlex {
            border: 1px solid #9999CC;
            color: #9999CC;
        }
        span.morphgram {
            border: 1px solid #55AA55;
            color: #55AA55;
        }
        span.t {
            border-bottom: 1px solid #AAAAAA;
        }
        span.green_under {
            color: #55AA55;
            text-decoration: underline;
        }
        span.green {
            color: #55AA55;
        }
        span.blue_under {
            color: #9999CC;
            text-decoration: underline;
        }
        span.blue {
            color: #9999CC;
        }
        div.block {
	    margin-left: 10px;
	    border-left: 1px solid #EEEEEE;
	    padding-left: 3px;
	}
        b.green {
            color: #55AA55;
        }
        b.blue {
            color: #9999CC;
        }
        b.orange {
            color: #FF6600;
        }
        a {
            font-family: "Palatino Linotype", "Palatino", "Georgia";
            color: #CC6714; /*#929497;*/
        }
        a.red {
            color: #CC9999;
        }
        a.blue {
            color: #9999CC;
        }
        a.green {
            color: #55AA55;
        }

        table.tab a {
            font-family:    "Lucida Grande","Verdana","Arial","Helvetica","sans-serif";
            font-size:      12px;
            line-height:    1.6em;
        }
        
        /* :link :visited :hover */

        table#menu {
            border-collapse: collapse;
            border: 1px solid #929497;
            font-family: "Palatino";
        }
        table#menu td.cat {
            background-color: #E9E4D2;
            border-bottom: 1px dotted #929497;
            color: #929497;
        }
        table#menu td.cat:before {
            content: "» ";
        }
        table#menu td.cat:hover {
            background-color: #929497;
            color: White;
            cursor: hand;
        }
        table#menu td.cat a {
            text-decoration: none;
            color: inherit;
        }

        table#menu td.sub {
            background-color: #FAF5E3;
            border-bottom: 1px dotted #929497;
            color: #929497;
        }
        table#menu td.sub:before {
            content: "\233D \0020";
        }
        table#menu td.sub:hover {
            background-color: #929497;
            color: White;
            cursor: hand;
        }
        table#menu td.sub a {
            text-decoration: none;
            color: inherit;
        }

        table#menu td#spe {
            background-color: #CEC498;
            color: #FFFFFF;
            font-size: 60px;
            font-family: "Palatino";
            border-bottom: 1px solid #929497;
            text-align: center;
        }
        
        table.tab {
            font-family:    Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
            font-size:      12px;
            line-height:    1.6em;
        }
        table.tab thead th {
            background-color: #CEC498;
            color: white;
        }
        table.tab tbody tr:nth-child(odd) { 
            background-color: #F5F5F5; 
        }
        table.tab tbody tr:nth-child(2n) { 
            background-color: #FFFFFF;
        }
        
        p.line {
            border-bottom: 1px dashed #CEC398;
            color: #FF8000;
            font-family: "Consolas";
        }
 
        div.bordered {
            border: 1px solid #929497;
        }

        p.centered {
            border-top: 1px solid #929497;
            border-bottom: 1px solid #929497;
            text-align: center;
        }

        table.tbordered {
            font-family:    Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
            font-size:      12px;
            line-height:    1.6em;
            border-collapse:collapse;
        }
        table.tbordered thead th {
            background-color: #CEC498;
            color: white;
        }
        table.tbordered tbody tr:nth-child(odd) { 
            background-color: #F5F5F5; 
        }
        table.tbordered tbody tr:nth-child(2n) { 
            background-color: #FFFFFF;
        }
        table.tbordered, table.tbordered th, table.tbordered tr, table.tbordered td {
            border: 1px solid black;
        }

        .center
                {
            margin-left:auto;
            margin-right:auto;
            width:70%;
        }
	